{{yield}}

<img class='course-image' src={{unbound model.image-info.square2x.url}}/>
<h1 class='course-title'>{{link-to (unbound model.title) 'course' model.slug}}</h1>
<p class="course-summary">{{unbound model.summary}}</p>